/*variables*/
:root {
  /*Primary*/
 --clr-primary-light-red: hsl(0, 100%, 67%);
 --clr-primary-orangey-yellow: hsl(39, 100%, 56%);
 --clr-primary-green-teal: hsl(166, 100%, 37%);
 --clr-primary-cobolt-blue: hsl(234, 85%, 45%);

 /*Primary Light*/
 --clr-primary-light-light-red: hsl(0, 100%, 97%);
 --clr-primary-light-orangey-yellow: hsl(39, 100%, 96%);
 --clr-primary-light-green-teal: hsl(166, 100%, 94%);
 --clr-primary-light-cobolt-blue: hsl(234, 85%, 95%);

  /*neutrals*/
  --clr-neutral-white: hsl(0, 0%, 100%);
  --clr-neutral-pale-blue: hsl(221, 100%, 96%);
  --clr-neutral-light-lavender: hsl(241, 100%, 89%);
  --clr-neutral-dark-gray-blue: hsl(224, 30%, 27%);

  /*Gradients*/
  --grad-bg-light-slate-blue: hsl(252, 100%, 67%);
  --grad-bg-light-royal-blue: hsl(241, 81%, 54%);
  --grad-circ-violet-blue: hsla(256, 72%, 46%, 1);
  --grad-circ-persian-blue: hsla(241, 72%, 46%, 0);
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/*FONTS*/
@font-face {
  font-family: "Hanken Grotesk";
  src: url(/assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}

/*------PROJECT CONTENT------*/

/*---RESULTS---*/

body {
  display: grid;
  place-content: center;
  font-family: Hanken Grotesk, sans-serif;
}

.card {
  width: 600px;
  height: 460px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: 7px 7px 20px lightgray;
  border-radius: 10px;
}

.results {
  background-image: linear-gradient(var(--grad-bg-light-slate-blue), var(--grad-bg-light-royal-blue));
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
}

h1 {
  color: var(--clr-neutral-light-lavender);
  margin-top: 20px;
}

.circle {
  background-image: linear-gradient(var(--grad-circ-violet-blue), var(--grad-circ-persian-blue));
  position: relative;
  width: 175px;
  height: 175px;
  outline: 1px solid blue;
  border-radius: 50%;
  display: grid;
  place-content: center;
}

.large-score {
  font-size: 60px;
  color: var(--clr-neutral-white);
}
.out-of {
  color: var(--clr-neutral-light-lavender);
  margin-left: 10px;
}

h2 {
  color: var(--clr-neutral-white);
}

.score-analysis {
  color: var(--clr-neutral-white);
  margin: 0px 50px 20px 50px;
  text-align: center;
}

/*---SUMMARY---*/

.summary {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

h3 {
  color: var(--clr-neutral-dark-gray-blue);
  width: 80%;
  font-size: 22px;
  margin-top: 20px;
}

.sub-cards {
  width: 95%;
}


.sub-cat-box {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  margin: 20px;
  padding: 15px 15px;
  border-radius: 10px;
}

.reaction::before,
.memory::before,
.verbal::before,
.visual::before {
  content: "";
  display: inline-block;
  height: 20px;
  width: 20px;
}


.reaction::before {
  background-image: url(/assets/images/icon-reaction.svg);
}

.memory::before {
  background-image: url(/assets/images/icon-memory.svg);
}

.verbal::before {
  background-image: url(/assets/images/icon-verbal.svg);
}

.visual::before {
  background-image: url(/assets/images/icon-visual.svg);
}

h4 {
  width: 75px
}

.reaction >h4,
.memory >h4,
.verbal >h4,
.visual >h4 {
  margin-left: 7px;
  margin-right: 50px;
  font-size: 18px;
  }


.reaction {
  background-color: var(--clr-primary-light-light-red);
  display: flex;
}

.reaction > h4 {
  color: var(--clr-primary-light-red);
}
.memory {
  background-color: var(--clr-primary-light-orangey-yellow);
}

.memory > h4 {
  color: var(--clr-primary-orangey-yellow);
}

.verbal {
  background-color: var(--clr-primary-light-green-teal);
  display: flex;
}

.verbal > h4 {
  color: var(--clr-primary-green-teal);
}

.visual {
  background-color: var(--clr-primary-light-cobolt-blue);
}

.visual > h4 {
  color: var(--clr-primary-cobolt-blue);
}

.sub-score {
  font-weight: 700;
}

.sub-score {
  color: gray;
}

.sub-score > strong {
  color: black;
}

.button {
  margin-bottom: 25px;
  padding: 12px 87px;
  border-radius: 30px;
  background-color: var(--clr-neutral-dark-gray-blue);
  color: var(--clr-neutral-white);
}

.button:hover,
.button:focus-within {
  cursor: pointer;
  background-color: var(--clr-primary-cobolt-blue);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (max-width:700px) {
.card {
  display: flex;
  flex-direction: column;
  width: 375px;
  height: fit-content;
}

h1 {
  margin-bottom: 20px;
}

h2 {
  margin: 20px 0px;
}

.button {
  padding: 12px 120px;
}
}






